<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>localhost</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>kaleo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BlueVacationEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=127.0.0.1,1433;Initial Catalog=OuAnFind;Persist Security Info=True;User ID=sa;Password=kaleozhou;Min Pool Size=5;Max Pool Size=50;Connect Timeout=100;Load Balance Timeout=20;Application Name=EntityFramework" Name="Data Source=127.0.0.1,1433;Initial Catalog=OuAnFind;Persist Security Info=True;User ID=sa;Password=kaleozhou;Min Pool Size=5;Max Pool Size=50;MultipleActiveResultSets=True;Connect Timeout=100;Load Balance Timeout=20;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=127.0.0.1,1433;Initial Catalog=OuAnFind;Persist Security Info=True;User ID=sa;Password=kaleozhou;Min Pool Size=5;Max Pool Size=50;Connect Timeout=100;Load Balance Timeout=20;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlueVacationEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1,1433;initial catalog=OuAnFind;persist security info=True;user id=sa;password=kaleozhou;min pool size=5;max pool size=50;connection lifetime=20;connection timeout=100;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=127.0.0.1,1433;Initial Catalog=OuAnFind;Persist Security Info=True;User ID=sa;Password=kaleozhou;Min Pool Size=5;Max Pool Size=50;Connect Timeout=100;Load Balance Timeout=20;Application Name=EntityFramework" Name="Data Source=127.0.0.1,1433;Initial Catalog=OuAnFind;Persist Security Info=True;User ID=sa;Password=kaleozhou;Min Pool Size=5;Max Pool Size=50;MultipleActiveResultSets=True;Connect Timeout=100;Load Balance Timeout=20;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-Web-20140820105639.mdf;Initial Catalog=aspnet-Web-20140820105639;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-Web-20140820105639.mdf;Initial Catalog=aspnet-Web-20140820105639;Integrated Security=True;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlueVacationEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string="data source=127.0.0.1,1433;initial catalog=OuAnFind;persist security info=True;user id=sa;password=kaleozhou;min pool size=5;max pool size=50;multipleactiveresultsets=True;connect timeout=100;load balance timeout=20;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=127.0.0.1,1433;Initial Catalog=OuAnFind;Persist Security Info=True;User ID=sa;Password=kaleozhou;Min Pool Size=5;Max Pool Size=50;MultipleActiveResultSets=True;Connect Timeout=100;Load Balance Timeout=20;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>